@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&display=swap');

/* fuentes
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: black;
}

.background-image{
    background-image: url(../assets/img/6189902_3185113.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* Header */

.barra{
    color: white;
    padding-top: 5px;
}

@media only screen and (max-width: 990px){
    .barra{
        display: none;
    }
}

.nav-item{
    padding-inline: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.banner{
    text-align: center;
    background-color: rgb(199, 199, 199);
    background-image: url(../assets/img/hroes-del-silencio-54cc07c0083b9.png);
    background-size: 3%;
    animation: movimiento 60s infinite linear alternate;
    height: 160px;
}

@keyframes movimiento{
    from{
        background-position: left;
    }
    to{
        background-position: right;
    }
}

.banner img{
    height: 160px;
}

@media only screen and (max-width: 420px){
    .banner{
        height: 120px;
    }
    .banner img{
        width: 300px;
        height: 120px;
    }
}

/* index */

.inicio img{
    height: 100vh;
    width: 100vw;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    object-position: 0 160px;
    animation: zoomImagen 2s ease-out;
}

@keyframes zoomImagen{
    0%{
        transform: scale(1.4);
    }
    100%{
        transform: scale(1);
    }
}

.inicio h1{
    color: white;
    text-align: center;
    font-size: 2.5rem;
    line-height: 3.25rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    opacity: 0;
    animation: aparecer 2s ease-out 2s forwards;
}

@keyframes aparecer{
    100%{
        opacity: 1;
    }
}

.inicio{
    position: relative;
    height: 69vh;
    width: 100vw;
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: flex-end;
    box-shadow: 0 0 3rem 1rem black inset;
}

@media only screen and (max-width: 1280px){
    .inicio img{
        content: url(../assets/img/5040065_01.jpg);
        object-fit: cover;
        object-position: 0 -50px;
        width: 100%;
        height: 100%;
    }
    .inicio h1{
        font-size: 2rem;
        padding: 0.5rem 1rem;
    }
}

@media only screen and (max-width: 428px){
    .inicio img{
        content: url(../assets/img/5040065_0.jpg);
        object-fit: cover;
        object-position: 0 0;
        width: 100%;
        height: 100%;
    }
    .inicio h1{
        font-size: 1.5rem;
        padding: 0 1rem;
    }
}

/* biografia */

.biografia-pos{
    margin: auto;
    width: 75%;
    height: 100%;
    padding: 40px 0;
    display: grid;
    grid-template-areas: 
        "lateral biografia biografia";
    gap: 10px;
}

.lateral{
    grid-area: lateral;
    opacity: 0.75;
}

.biografia{
    grid-area: biografia;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
}

@media only screen and (max-width: 1280px){
    .lateral{
        display: none;
        
    }
}

@media only screen and (max-width: 420px){
    .biografia-pos{
        padding: 30px 0;
    }
    .biografia{
        font-size: 0.8rem;
        text-align: center;
    }
}

/* discografia */

.discos{
    width: 100%;
    color: white;
}

.card-group{
    width: 100%;
    display: grid;
    grid-template-areas: 
        "card1 card2"
        "card3 card4";
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card1{
    grid-area: card1;
}

.card2{
    grid-area: card2;
}

.card3{
    grid-area: card3;
}

.card4{
    grid-area: card4;
}

.cards{
    padding: 60px 150px;
    display: flex;
    flex-direction: column;
}

.cards img{
    width: 400px;
    height: 400px;
}

.cards iframe{
    width: 400px;
    height: 240px;
}

.cards h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center;
}
@media only screen and (max-width: 1280px){
    .cards{
        padding: 60px 80px;
    }

    .cards img{
        width: 300px;
        height: 300px;
    }
    .cards iframe{
        width: 300px;
    }
}

@media only screen and (max-width: 960px){
    .cards{
        padding: 60px 50px;
    }
}

@media only screen and (max-width: 800px){
    .card-group{
        grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card4";
    }
    /* .cards{
        padding: 30px 0;
    }
    .cards img{
        width: 300px;
        height: 300px;
    }
    .cards iframe{
        width: 300px;
    } */
}

/* contacto */

.parrafo-sugerencias p{
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 8vh;
    font-size: 1.2rem;
}

@media only screen and (max-width: 420px){
    .parrafo-sugerencias p{
        padding-top: 30px;
        font-size: 0.9rem;
        width: 75%;
        margin: auto;
    }
}

.formulario{
    background: rgba(76,76,76,.6);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
    text-align: center;
}

.formulario fieldset{
    border-color: rgb(155, 155, 155);
}

.formulario fieldset legend{
    display: block;
    color: white;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    position: relative;
    padding: 14px 0;
    text-align: center;
    font-weight: bold;
}

.formulario fieldset label{
    display: block;
    color: white;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.formulario fieldset input, .formulario fieldset textarea{
    background: rgba(76,76,76,.7);
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    width: 90%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: white;
}

#enviar{
    width: 25%;
    font-family: 'Roboto', sans-serif;
    outline: none;
    font-size: 1rem;
    border: none;
    padding: 15px 0;
    cursor: pointer;
    margin-bottom: 20px;
    background: rgb(76,76,76);
    color: white;
    transition: all .5s ease;
}

#enviar:hover{
    background: rgb(100, 100, 100);
}

/* footer */

.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pie{
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: white;
}

.pie2{
    margin-top: -8px;
    display: flex;
    padding-left: 0rem;
}

.pie2 li{
    display: block;
    padding: 0 15px;
}

@media only screen and (max-width: 960px){
    .pie{
        font-size: 18px;
    }
    .pie2 li{
        padding: 0 10px;
    }
    .facebook-img{
        content: url(../assets/img/facebook1.png);
    }
    .twitter-img{
        content: url(../assets/img/twitter1.png);
    }
    .instagram-img{
        content: url(../assets/img/instagram1.png);
    }
}