@keyframes movimiento {
	from {
		background-position: left;
	}
	to {
		background-position: right;
	}
}
.barra {
	color: white;
	padding-top: 5px;
}
.nav-item {
	padding-inline: 30px;
	font-family: $typo-secundario;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: bold;
}
.banner {
	text-align: center;
	background-color: rgb(199, 199, 199);
	background-image: url(../assets/img/hroes-del-silencio-54cc07c0083b9.png);
	background-size: 3%;
	animation: movimiento 60s infinite linear alternate;
	height: 160px;
	img {
		height: 160px;
	}
}